package ${package.Controller};

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import ${cfg.package}.dto.request.${entity}PageRequest;
import ${cfg.package}.dto.request.${entity}Request;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${cfg.package}.dto.RespVo;
import ${cfg.package}.entity.${entity};
import ${cfg.package}.service.${entity}Service;
import ${cfg.package}.exceptions.ServiceException;

/**
 * <p>
 * $!{table.comment}控制器
 * </p>
 * @author ${author}
 * @since ${date}
 * @version 1.0.0
 */
@RestController
@Slf4j
@RequestMapping("/${table.entityPath}")
public class ${entity}Controller {

    @Autowired
    private ${entity}Service ${table.entityPath}Service;


    /**
     * $!{table.comment}新增
     */
    @PostMapping(value = "/add")
    public RespVo<Long> add(@RequestBody ${entity}Request request)  throws ServiceException{
        return RespVo.success(${table.entityPath}Service.add(request));
    }

    /**
     * $!{table.comment}列表分页查询
     */
    @PostMapping(value = "/page")
    public RespVo<IPage<${entity}>> page(@RequestBody ${entity}PageRequest request) throws ServiceException{
        return RespVo.success(${table.entityPath}Service.page(request));
    }

    /**
     * $!{table.comment}单个查询
     */
    @GetMapping(value = "/query")
    public RespVo<${entity}>  query(@RequestParam Long id) throws ServiceException{
        return RespVo.success(${table.entityPath}Service.query(id));
    }

    /**
     * $!{table.comment}修改
     */
    @PostMapping(value = "/update")
    public RespVo<Boolean> update(@RequestBody ${entity}Request request) throws ServiceException{
        return RespVo.success(${table.entityPath}Service.update(request));
    }


    /**
     * $!{table.comment}单个删除
     */
    @PostMapping(value = "/deleteById")
    public RespVo<Boolean> deleteById(@RequestParam Long id) throws ServiceException{
        return RespVo.success(${table.entityPath}Service.deleteById(id));
    }
}
