package ${cfg.package}.constant;

/**
 * <p>
 * 异常码定义常量类
 * </p>
 * @author ${author}
 * @since ${date}
 * @version 1.0.0
 */
public class ExceptionCodeConstant {

    //数据不存在
    public final static Integer DATA_NO_EXIST = 1003;

    //业务异常
    public final static Integer BUSINESS_ERR = 1004;

    //服务器异常
    public final static Integer SERVER_ERR = 1005;

    //参数不合法
    public final static Integer INVALID_PARAM = 1006;

    //无权限
    public final static Integer NO_PERMISSION =1010;

}
