package ${package.ServiceImpl};


import ${cfg.package}.dto.request.${entity}Request;
import ${cfg.package}.dto.request.${entity}PageRequest;
import ${package.Entity}.${entity};
import ${package.Mapper}.${entity}Mapper;
import ${package.Service}.${entity}Service;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import org.springframework.cglib.beans.BeanCopier;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;


/**
 * <p>
 * $!{table.comment}相关接口实现
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
public class ${entity}ServiceImpl extends ServiceImpl<${entity}Mapper, ${entity}> implements ${entity}Service {

    private ${entity}Mapper ${table.entityPath}Mapper;

    public ${entity}ServiceImpl(${entity}Mapper ${table.entityPath}Mapper) {
        this.${table.entityPath}Mapper = ${table.entityPath}Mapper;
    }

    @Override
    public int add(${entity}Request request){
        log.info("$!{table.comment}新增请求参数: {}" , request);
        if (null == request){
            return 0;
        }

        ${entity} ${table.entityPath} = new ${entity}();
        BeanCopier copier = BeanCopier.create(request.getClass(), ${table.entityPath}.getClass(), false);
        copier.copy(request, ${table.entityPath}, null);
        int count = ${table.entityPath}Mapper.insert(${table.entityPath});
        log.info("$!{table.comment}新增返回数据: {}" , count);
        return count;
    }

    @Override
    public ${entity} query(long id){
        log.info("$!{table.comment}单个查询请求参数: {}" , id);
        if (id <= 0){
            return null;
        }
        ${entity} ${table.entityPath} = ${table.entityPath}Mapper.selectById(id);
        log.info("$!{table.comment}单个查询返回数据: {}" , ${table.entityPath});
        return ${table.entityPath};
    }

    @Override
    public int update(${entity}Request request) throws Exception {
        log.info("$!{table.comment}修改请求参数: {}" , request);
        if (null == request){
            return 0;
        }

        ${entity} ${table.entityPath} = new ${entity}();
        BeanCopier copier = BeanCopier.create(request.getClass(), ${table.entityPath}.getClass(), false);
        copier.copy(request, ${table.entityPath}, null);
        int count = ${table.entityPath}Mapper.updateById(${table.entityPath});
        log.info("$!{table.comment}修改返回数据: {}" , count);
        return count;
    }

    @Override
    public IPage<${entity}> page(${entity}PageRequest request) throws Exception {
        log.info("$!{table.comment}列表分页查询请求参数: {}" , request);
        Page<${entity}> page = new Page<>(request.getPage(),request.getPageSize());
        page.setSearchCount(true);
        LambdaQueryWrapper<${entity}> lqw = new LambdaQueryWrapper();
        IPage<${entity}> pageResult = ${table.entityPath}Mapper.selectPage(page,lqw);
        log.info("$!{table.comment}列表分页查询完成");
        return pageResult;
    }
}
