package ${package.Entity};

import lombok.Data;

import java.io.Serializable;

#foreach($field in ${table.fields})
#set($fieldType = ${field.type})
#set($imports = {})
#if($fieldType.contains("timestamp"))
import java.sql.Timestamp;
#end
#if($fieldType.contains("date") && !$imports.contains("date"))
import java.util.Date;
$imports.add("date")
#end
#if($fieldType.contains("datetime"))
import java.sql.Timestamp;
#end
#if($fieldType.contains("decimal"))
import java.math.BigDecimal;
#end
#end

/**
 * <p>
 * $!{table.comment}实体类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
public class ${entity} implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach($field in ${table.fields})
#if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
#end
    private ${field.propertyType} ${field.propertyName};
#end
}
