package ${package.Service};

import ${package.Entity}.${entity};
import ${cfg.package}.${package.ModuleName}.exceptions.ServiceException;
import ${cfg.package}.${package.ModuleName}.dto.request.${entity}Request;
import ${cfg.package}.${package.ModuleName}.dto.request.${entity}PageRequest;
import tddl.sequences.SequenceException;

import java.util.List;

/**
 * <p>
 * $!{table.comment}相关接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${entity}Service {

    /**
     * $!{table.comment}新增
     *
     * @param request
     * @return
     * @throws ServiceException
     */
    int add(${entity}Request request) throws ServiceException, SequenceException;

    /**
     * $!{table.comment}单个查询
     *
     * @param id
     * @return
     * @throws Exception
     */
    ${entity} query(long id) throws Exception;

    /**
     * $!{table.comment}修改
     *
     * @param request
     * @return
     * @throws Exception
     */
    int update(${entity}Request request) throws Exception;

    /**
     * $!{table.comment}删除
     *
     * @param id
     * @return
     * @throws Exception
     */
    int delete(long id) throws Exception;

    /**
     * $!{table.comment}列表分页查询
     *
     * @param request
     * @return
     * @throws Exception
     */
    List<${entity}> page(${entity}PageRequest request) throws Exception;

    /**
     * $!{table.comment}列表分页查询总记录数
     *
     * @param request
     * @return
     * @throws Exception
     */
    int count(${entity}PageRequest request) throws Exception;
}
